:root{
    --azul: #5bcefa;
    --rosa: #f5a9b8;
    --branco: #f0f0f0;
    --cinza: #4f4f4f;
    --preto: #121212;
    --Poppins: 'Poppins', sans-serif;
    --Inter: 'Inter', sans-serif;
    --gradiente: linear-gradient(90deg, rgba(245,169,184,1) 35%, rgba(91,206,250,1) 75%);
}

.placeholder {
    background-color: #eee;
    height: 600px;
    width: 95%;
    justify-self: center;
}

.posts{
    margin-left: 5.5rem;
    margin-top: 5rem;
    text-align: center;
}

.postsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(480px, 3fr));
    gap: 16px;
}

.postDetalhes img{
    width: auto;
    height: auto;
}

.postFixado{
    margin-top: 5rem;
    margin-top: 5rem;
    width: 100% !important;
    text-align: center;
}

.post{
    text-decoration: none;
    width: 450px;
}

.title{
    font-size: 3rem;
    font-family: var(--Poppins);
    margin-bottom: 2rem;
}

.gradient{
    background: var(--gradiente);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tituloPost{
    font-size: 1.2rem;
    font-family: var(--Poppins);
    font-weight: 600;
    text-transform: capitalize;
    color: var(--preto);
}

.subtituloPost{
    font-size: 0.865rem;
    text-align: center;
    color: var(--cinza);
    font-family: var(--Inter);
}